.search-interface {
    position: fixed; /* Fixed position */
  top: 0; /* Start at the top of the screen */
  right: 0; /* Align to the right */
  height: 100vh; /* Full viewport height */
  width: 30%; /* 30% of the viewport width */
  background-color: #37374A; /* Assuming a dark background as in the image */
  color: white;
  font-family: 'Arial', sans-serif;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2); /* Shadow to the left */
  z-index: 1000; /* Ensure it's above other content */
  }
  
  .search-box {
    margin: 20px;
    display: flex;
    flex-direction: row;
    background-color: #222; /* Darker box for input and button */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-box input {
    flex-grow: 1;
    border: none;
    background-color:white; /* Same as the search box for a seamless look */
    color:#8383AF; /* White text color */
    padding: 15px 20px; /* Increased padding for more height */
    font-size: 16px; /* Optional: Adjust font size if needed */
    width: calc(100% - 40px); /* Subtract double the padding */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none; /* Remove the outline 
  }
  
  .search-box input::placeholder {
    color: #555; /* Lighter text for placeholder */
  }
  
  .search-box .search-button {
    background: white;
    border: none;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #444; /* Slightly lighter background on hover */
  }
  
  .search-prompt {
    background-color: #242432; /* Match the background color to the darker tone in the image */
    color: #BCBCF2; /* White color for the text */
    text-align: center; /* Center the text */
    padding: 40px; /* Add padding for spacing */
    border-radius: 10px; /* Rounded corners as seen in the image */
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Stack items vertically */
    align-items: center; 
    gap: 10px; /* Space between icon and text */
    margin: 20px; /* Add some margin around the prompt */
    font-size: 16px; /* Adjust font-size as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    max-width: 400px; /* Maximum width of the element */
    margin-left: auto; /* Align to the right */
    margin-right: auto; /* Align to the right */
    border-radius: 16px;
    margin: 20px;
  }
  
  /* Adjustments for the search icon size and color can be made here */
  .search-button svg {
    color: #8383AF; /* Set the color of the icon */
    stroke-width: 1.5; /* Adjust the stroke width as needed */
  }
  