body {
  
  color: #ecf0f1; /* Light text color for contrast */
  font-family: 'Arial', sans-serif; /* Example font */
  display: flex;
  justify-content: center;
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
